/* main background colour #E5E5E5 */
/* footer background colour #2F303A */
/* main <h> colour #212121 */
/* main text colour #757575 */
/* accent color #2196F3 */
:root {
  --accent-background: #2f303a;
  --secondary-background: #f5f4fa;

  --primary-font-family: 'Roboto', sans-serif;

  --accent-color: #2196f3;
  --text-color: #757575;
  --title-color: #212121;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font-family);
}
/* base styles */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
h2 {
  color: var(--title-color);
}
h3 {
  color: var(--title-color);
}
p {
  color: var(--text-color);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
/* header */
.logo {
  color: #212121;
  font-weight: 700;
}
.logo span {
  color: var(--accent-color);
  font-weight: 700;
}

nav a {
  color: #212121;
  font-weight: 500;
}
.contact-links a {
  color: #757575;
}
nav a:hover,
nav a:focus,
nav a.active,
.contact-links a:hover,
.contact-links a:focus {
  color: var(--accent-color);
}
/* hero styles */

.hero {
  background-color: var(--accent-background);
  text-align: center;
}

/* quality */
.quality h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.quality p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* footer */
footer {
  background-color: var(--accent-background);
}
